.meetingInfo-container {
  height: 561px;
  width: 1359px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}
.meetingInfo-title {
  margin: 47.39px auto 15.8px 33.49px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: left;
}
.meetingInfo-card {
  padding: 57px 0 0 38px;
  display: flex;
  gap: 38px;
  opacity: 0px;
  overflow: auto;
}
